/* Definições locais*/

#header {
    background-color: #E9ECEF;
    position: relative;
    width: 100%;
    height: 30%;
    top: 56px;
}

#cardsall {
    background-color: #E9ECEF;
    position: relative;
    margin: 0 auto;
    width: 65%;
    height: 79%;
}

#content1 {
    position: relative;
    width: 100%;
    height: 100%;
}

#content2 {
    position: relative;
    width: 100%;
    height: 100%;
}

#content3 {
    position: relative;
    width: 100%;
    height: 100%;
}

#content4 {
    position: relative;
    top: 413%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#footer {
    background-color: black;
    position: absolute;
    bottom: 0px%;
    left: 0%;
    width: 100%;
}

#footeresq {
    position: absolute;
    top: 5%;
    left: 10px;
    width: 40%;
    height: 20%;
}

#socialmidia {
    position: absolute;
    top: 5%;
    right: 10px;
    width: 40%;
    height: 20%;
}

#mulheresbr {
    position: relative;
    margin: 5px;
    height: 345px;
}